.ActivityImages {
  margin-right: 10px;
  position: relative;
  .cover {
    .imageContainer {
      width: 100%;
      overflow: hidden;
      border-radius: borderRadius(mobile);
      aspect-ratio: 16/ 10;
    }
  }
  .icon {
    transition: $transition;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);

    &:active {
      transform: scale(0.98) translateY(-50%);
    }

    svg {
      width: calc(iconSize(mobile) * 2);
    }
  }
}
