.CreatedBy {
  @include Flex(row, center, center);
  border-top: 1px solid color(text-color);
  opacity: 0.7;
  width: 100%;
  .wrapper {
    padding: 20px;
    @include Flex(row, center, space-between);
    width: wrapperWidth(mobile);
  
    .date {
      @include Flex(row, center, center);

      svg {
        height: iconSize(mobile);
        margin-right: 5px;
        fill: white;
      }
    }
  }
}
