.Gallery_Introduction {
  @include Flex(column, center, center);
  margin-top: 20px;
  width: 100%;
  .title {
    font-size: fontSize(huge);
  }

  .name {
    font-size: calc(fontSize(name) - 10px);
    margin-bottom: 10px;
  }
}
