header {
  @include Flex(row, center, space-between);
  width: 100%;
  padding: 30px 30px 0 30px;

  .mobile {
    height: 40px;
    @include Flex(row, center, space-between);
    .burgerMenu,
    .close {
      stroke: white;
      fill: white;
    }
    .burgerMenu {
      height: iconSize(mobile) * 2.5;
      width: iconSize(mobile) * 2.5;
      cursor: pointer;
    }

    .close {
      cursor: pointer;
      position: fixed;
      height: iconSize(mobile) * 1.8;
      width: iconSize(mobile) * 1.8;
      right: 40px;
      z-index: 10;
    }
  }

  .screenNav {
    a {
      margin: 0 20px 0 20px;
    }
  }

  .mobileNav {
    @include Flex(column, center, center);
    background-color: color(primary-color);
    opacity: 0.97;
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 9;

    a {
      margin-bottom: 25px;
      font-size: fontSize(h3);
    }
  }
}
