.InputNewsletter {
  max-width: 600px;
  width: 100%;

  input {
    padding: 20px 20px;
    background-color: color(text-color);
    color: color(custom-black);
  }

  .buttonContainer {
    .button {
      margin-top: 10px;
      &.dark {
        transition: $transition;
        padding: 15px 30px;
        background-color: color(custom-black);

        &:active {
          transform: scale(0.99);
        }
      }
    }
  }
}

@media (min-width: 620px) {
  .InputNewsletter {
    max-width: 700px;
    width: 100%;
    position: relative;

    input {
      padding: 30px 20px;
      background-color: color(text-color);
      color: color(custom-black);
    }

    .buttonContainer {
      .button {
        width: auto;
        font-size: 14px;
        &.dark {
          padding: 14px 30px;
          background-color: color(custom-black);
          position: absolute;
          top: 35%;
          right: 10px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
