.Introduction {
  @include sectionPreset;
  .wrapper {
    width: wrapperWidth(mobile);

    .textSection {
      @include Flex(column, center, center);
      width: 100%;

      .logoImg {
        @include Flex(row, center, center);
        width: 80%;
        margin-bottom: 30px;
      }

      .name {
        margin-bottom: 15px;
      }

      .description {
        margin-bottom: 25px;
      }

      .buttons {
        @include Flex(row, center, space-between);
        width: 100%;
        margin-bottom: $gap;

        .buttonMore {
          flex: 0.7;
          margin-right: 20px;
        }

        .buttonVideo {
          @include Flex(row, center, left);
          flex: 1.3;

          .text {
            font-weight: fontWeight(regular);
            transition: $transition;

            &:active {
              transform: scale(0.98);
            }
          }

          svg {
            height: iconSize(mobile) * 2.5;
            margin-right: 10px;
          }
        }
      }
    }

    .imgSection {
      @include Flex(row, center, center);
      width: 100%;
      .img {
        width: 80%;
      }
    }
  }
}
