.Introduction {
  @include sectionPreset;
  padding-top: 50px;
  position: relative;
  z-index: 15;

  .wrapper {
    overflow-x: hidden;
    width: wrapperWidth(mobile);
    .textSection {
      overflow-x: hidden;
      @include Flex(column, center, center);
      width: 100%;

      .logoImg {
        position: relative;
        @include Flex(row, center, center);
        width: 80%;
        aspect-ratio: 1 / 0.85;
        margin-bottom: 30px;
        z-index: 2;
      }

      .pinkCircle {
        position: absolute;
        margin-bottom: 600px;
        margin-right: 300px;
        width: 30%;
        min-width: 250px;
        max-width: 270px;
        z-index: -1;
      }
      .blueCircle {
        position: absolute;
        margin-top: -50px;
        margin-right: -250px;
        width: 30%;
        min-width: 250px;
        max-width: 270px;
        z-index: -1;
      }

      .name {
        margin-bottom: 15px;
      }

      .description {
        margin-bottom: 25px;
      }

      .commingSoonContainer {
        margin-bottom: 25px;
        width: 100%;
        font-weight: fontWeight(medium);
      }

      .locationsContainer {
        width: 100%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 15px;

        .locationContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          gap: 10px;

          .locationNameText {
            font-size: 18px;
            font-weight: bold;
          }

          .locationImageContainer {
            max-height: 34px;
            width: auto;

            img {
              width: auto;
              max-height: 34px;
            }
          }
        }
      }

      .buttons {
        @include Flex(row, center, space-between);
        width: 100%;
        margin-bottom: $gap;

        .buttonMore {
          flex: 0.7;
          margin-right: 20px;
        }

        .buttonVideo {
          @include Flex(row, center, left);
          flex: 1.3;

          .text {
            font-weight: fontWeight(regular);
            transition: $transition;

            &:active {
              transform: scale(0.98);
            }
          }

          svg {
            height: iconSize(mobile) * 2.5;
            margin-right: 10px;
          }
        }
      }
    }

    .imgSection {
      @include Flex(row, center, center);
      width: 100%;
      .img {
        width: 80%;
        aspect-ratio: 1 / 1.64;
      }
    }
  }
}

@media (min-width: 800px) {
  .Introduction {
    .wrapper {
      .textSection {
        .pinkCircle {
          position: absolute;
          margin-bottom: 600px;
          margin-right: 240px;
          width: 30%;
          max-width: 240px;
          z-index: -1;
        }
        .blueCircle {
          position: absolute;
          margin-top: -80px;
          margin-right: -270px;
          width: 30%;
          max-width: 240px;
          z-index: -1;
        }

        .locationsContainer {
          width: 100%;
          display: flex;
          margin-top: 20px;
          margin-bottom: 20px;
          flex-direction: row;
          align-items: start;
          justify-content: start;
          gap: 25px;

          .locationContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 15px;

            .locationNameText {
              font-size: 22px;
              font-weight: bold;
            }

            .locationImageContainer {
              max-height: 45px;
              width: auto;

              img {
                width: auto;
                max-height: 45px;
              }
            }
          }
        }
      }
    }

    .imgSection {
      @include Flex(row, center, center);
      width: 100%;
      .img {
        width: 80%;
        max-width: 500px;
      }
    }
  }
}
