.Membership {
  @include Flex(column, start, center);
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 470px;
  background-color: color(custom-black);
  padding: 40px 30px;
  border-radius: borderRadius(mobile);

  &.standOut {
    height: 530px;
    background-color: color(secondary-color);

    .details {
      .title {
        color: color(text-color);
        max-width: 100px;
      }

      .description {
        color: color(text-color);
      }

      .includedList {
        .included {
          .icon {
            svg {
              fill: color(text-color);
              width: iconSize(mobile);
              height: iconSize(mobile);
            }
          }
        }
      }

      .contactButton {
        width: 100%;
        margin-top: 50px;

        .button {
          width: 100%;
          background-color: color(custom-black);
        }
      }
    }
  }
  .details {
    width: 100%;
    .title {
      color: color(secondary-color);
      font-weight: fontWeight(semibold);
      margin-bottom: 10px;
    }

    .price {
      font-weight: fontWeight(semibold);
      font-size: calc(fontSize(h3) + 10px);

      .per {
        font-size: calc(fontSize(p) - 3px);
      }
    }

    .description {
      color: color(custom-gray);
      margin-bottom: 25px;
    }

    .includedList {
      .included {
        @include Flex(row, start, start);
        margin-bottom: 17px;

        .includedText {
          color: color(text-color);
          font-weight: fontWeight(medium);
          font-size: 15px;
        }
        .icon {
          margin-top: 3px;
          width: iconSize(mobile);
          margin-right: 13px;

          svg {
            fill: color(secondary-color);
            width: iconSize(mobile);
            height: iconSize(mobile);
          }
        }
      }
    }

    .contactButton {
      width: 100%;
      margin-top: 50px;
    }
  }

  .standOutContainer {
    @include Flex(row, center, center);
    padding: 8px;
    position: absolute;
    background-color: color(text-color);
    transform: rotate(45deg);
    width: 100%;
    top: 50px;
    right: -80px;

    .standOutText {
      margin: 0;
      color: color(custom-black);
      font-size: 18px;
      font-weight: fontWeight(semibold);
    }
  }
}

@media (min-width: 420px) {
  .Membership {
    @include Flex(column, start, center);
    width: 350px;
    height: 500px;
    background-color: color(custom-black);
    padding: 40px 30px;
    border-radius: borderRadius(mobile);

    &.standOut {
      height: 560px;
      background-color: color(secondary-color);

      .details {
        .title {
          color: color(text-color);
        }

        .description {
          color: color(text-color);
        }

        .includedList {
          .included {
            .icon {
              svg {
                fill: color(text-color);
                width: iconSize(mobile);
                height: iconSize(mobile);
              }
            }
          }
        }

        .contactButton {
          width: 100%;
          margin-top: 50px;

          .button {
            width: 100%;
            background-color: color(custom-black);
          }
        }
      }
    }
    .details {
      width: 100%;
      .title {
        color: color(secondary-color);
        font-weight: fontWeight(semibold);
        margin-bottom: 10px;
      }

      .price {
        font-weight: fontWeight(semibold);
        font-size: calc(fontSize(h3) + 10px);
      }

      .description {
        color: color(custom-gray);
        margin-bottom: 25px;
      }

      .includedList {
        .included {
          @include Flex(row, start, start);
          margin-bottom: 17px;

          .includedText {
            color: color(text-color);
            font-weight: fontWeight(medium);
            font-size: 15px;
          }
          .icon {
            width: iconSize(mobile);
            margin-right: 13px;
            margin-top: 3px;

            svg {
              fill: color(secondary-color);
              width: iconSize(mobile);
              height: iconSize(mobile);
            }
          }
        }
      }

      .contactButton {
        width: 100%;
        margin-top: 50px;
      }
    }

    .standOutContainer {
      @include Flex(row, center, center);
      padding: 8px;
      position: absolute;
      background-color: color(text-color);
      transform: rotate(45deg);
      width: 100%;
      top: 55px;
      right: -100px;

      .standOutText {
        margin: 0;
        color: color(custom-black);
        font-size: 18px;
        font-weight: fontWeight(semibold);
      }
    }
  }
}

@media (min-width: 620px) {
  .Membership {
    width: 280px;
    height: 480px;
    background-color: color(custom-black);
    padding: 40px 30px;
    border-radius: borderRadius(mobile);

    &.standOut {
      height: 540px;
      background-color: color(secondary-color);

      .details {
        .title {
          color: color(text-color);
          max-width: 100px;
        }

        .description {
          color: color(text-color);
        }

        .includedList {
          .included {
            .icon {
              svg {
                fill: color(text-color);
              }
            }
          }
        }

        .contactButton {
          width: 100%;
          margin-top: 50px;

          .button {
            background-color: color(custom-black);
          }
        }
      }
    }
    .details {
      .title {
        color: color(secondary-color);
        font-weight: fontWeight(semibold);
        margin-bottom: 10px;
      }

      .price {
        font-weight: fontWeight(semibold);
        font-size: calc(fontSize(h3) + 10px);
      }

      .description {
        color: color(custom-gray);
        margin-bottom: 25px;
      }

      .includedList {
        .included {
          @include Flex(row, start, start);
          margin-bottom: 17px;

          .includedText {
            color: color(text-color);
            font-weight: fontWeight(medium);
            font-size: 15px;
          }
          .icon {
            width: iconSize(mobile);
            margin-right: 13px;
            margin-top: 3px;

            svg {
              fill: color(secondary-color);
            }
          }
        }
      }

      .contactButton {
        width: 100%;
        margin-top: 50px;

        .button {
          font-size: 14px;
        }
      }
    }

    .standOutContainer {
      @include Flex(row, center, center);
      padding: 8px;
      position: absolute;
      background-color: color(text-color);
      transform: rotate(45deg);
      width: 100%;
      top: 40px;
      right: -80px;

      .standOutText {
        margin: 0;
        color: color(custom-black);
        font-size: 16px;
        font-weight: fontWeight(semibold);
      }
    }
  }
}

@media (min-width: 1250px) {
  .Membership {
    width: 280px;
    height: 480px;
    background-color: color(custom-black);
    padding: 40px 30px;
    border-radius: borderRadius(mobile);
    &.standOut {
      margin-top: 0;
      @include Flex(column, center, center);
      height: 560px;
      background-color: color(secondary-color);

      .details {
        .title {
          color: color(text-color);
        }

        .description {
          color: color(text-color);
        }

        .includedList {
          .included {
            .icon {
              svg {
                fill: color(text-color);
              }
            }
          }
        }

        .contactButton {
          width: 100%;
          margin-top: 40px;

          .button {
            background-color: color(custom-black);
          }
        }
      }
    }
    .details {
      .title {
        font-size: 16px;
        color: color(secondary-color);
        font-weight: fontWeight(semibold);
        margin-bottom: 10px;
      }

      .price {
        font-weight: fontWeight(semibold);
        font-size: calc(fontSize(h3) + 10px);
      }

      .description {
        font-size: 16px;
        color: color(custom-gray);
        margin-bottom: 25px;
      }

      .includedList {
        .included {
          @include Flex(row, start, start);
          margin-bottom: 17px;

          .includedText {
            color: color(text-color);
            font-weight: fontWeight(medium);
            font-size: 15px;
          }
          .icon {
            width: iconSize(mobile);
            margin-right: 13px;
            margin-top: 3px;

            svg {
              fill: color(text-color);
            }
          }
        }
      }

      .contactButton {
        width: 100%;
        margin-top: 50px;
      }
    }

    .standOutContainer {
      @include Flex(row, center, center);
      padding: 8px;
      position: absolute;
      background-color: color(text-color);
      transform: rotate(45deg);
      width: 100%;
      top: 35px;
      right: -80px;

      .standOutText {
        margin: 0;
        color: color(custom-black);
        font-size: 14px;
        font-weight: fontWeight(semibold);
      }
    }
  }
}
