.Overview {
  margin-top: 50px;
  margin-bottom: 20px;
  @include Flex(column, center, center);
  width: 100%;

  .wrapper {
    @include Flex(column, center, center);
    width: wrapperWidth(mobile);

    .textContainer {
      margin-bottom: 20px;
      @include Flex(row, center, space-between);
      width: 100%;

      .text {
        font-size: calc(fontSize(p) + 4px);
      }

      .icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .icon {
          cursor: pointer;
          width: iconSize(mobile) * 2.3;
          transition: $transition;

          &:active {
            transform: scale(0.98);
          }
        }
      }
    }

    .imagesContainer {
      @include Flex(column, center, center);
      border-radius: borderRadius(mobile);
      aspect-ratio: 16 / 10;
      width: 100%;
      overflow: hidden;

      .imageContainer {
        overflow: hidden;
        border-radius: borderRadius(mobile);
        aspect-ratio: 16 / 10;
        width: 100%;
      }
    }
  }
}

@media (min-width: 800px) {
  .Overview {
    margin-top: 60px;
    margin-bottom: 20px;
    @include Flex(column, center, center);
    width: 100%;

    .wrapper {
      @include Flex(column, end, center);
      width: wrapperWidth(mobile);

      .textContainer {
        flex: 1;
        @include Flex(row, center, space-between);
        width: 100%;

        .text {
          font-size: calc(fontSize(p) + 4px);
        }

        .icons {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;

          .icon {
            cursor: pointer;
            width: iconSize(mobile) * 2.3;
            transition: $transition;

            &:active {
              transform: scale(0.98);
            }
          }
        }
      }

      .imagesContainer {
        @include Flex(column, end, center);
        width: 100%;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        // background-color: red;
        max-width: none;
        margin-top: 20px;

        .imageContainer {
          overflow: hidden;
          border-radius: borderRadius(mobile);
          // aspect-ratio: 16 / 8;
    
          width: 100%;
          width: 100%;
        }
      }
    }
  }
}
