.Pricing_Payment {
  @include Flex(column, center, center);
  width: 100%;

  .wrapper {
    @include Flex(column, center, center);
    width: wrapperWidth(mobile);

    .imageContainer {
      display: none;
    }

    
    .imageContainerMobile {
      overflow: hidden;
      margin-top: 40px;
      width: 100%;
      max-width: 700px;
    }

    .points {
      @include Flex(column, start, center);
      width: 100%;
      margin-top: 40px;
      .point {
        @include Flex(row, center, center);
        margin-bottom: 15px;
        svg {
          height: iconSize(mobile);
          fill: color(secondary-color);
          margin-right: 10px;
        }
      }
    }
  }
}
