.OrdersShop {
  @include Flex(column, center, center);
  width: 100%;
  margin-bottom: 0;

  .wrapper {
    @include Flex(column, center, center);
    width: wrapperWidth(mobile);
    .separator {
      margin-top: 10px;
      width: 100%;
      height: 2px;
      background-color: color(text-color);
    }

    .tableData {
      width: 100%;
      margin-top: 30px;
      @include Flex(row, center, space-between);

      .numberData {
        width: 120px;
        color: color(custom-gray);
        font-weight: fontWeight(semibold);
      }
      .dateData {
        width: 80px;
        color: color(custom-gray);
        font-weight: fontWeight(semibold);
      }
      .priceData {
        width: 80px;
        color: color(custom-gray);
        font-weight: fontWeight(semibold);
      }
    }

    .OrderShop {
      @include Flex(column, center, space-between);
      width: 100%;

      .wrapper {
        cursor: pointer;

        @include Flex(row, center, space-between);
        padding: 15px 3px;
        border-bottom: 2px solid color(text-color);
        width: 100%;
        transition: $transition;
        .arrowDown {
          width: 30px;
          transition: $transition;

          svg {
            fill: color(text-color);
          }
        }

        &:hover {
          background-color: color(custom-black);
        }

        .sku {
          color: color(text-color);
          font-weight: fontWeight(bold);
        }

        .date,
        price {
          font-weight: fontWeight(regular);
        }
      }
    }

    .orderDetails {
      width: 100%;
      height: 100%;
      // width: 94%;

      .orderProducts {
        margin-top: 20px;
        width: 100%;
        @include Flex(column, center, center);
        .orderProduct {
          width: 100%;
          @include Flex(row, center, space-between);
          border-bottom: 2px solid color(text-color);
          padding-bottom: 20px;
          margin-top: 20px;

          .productDescription {
            @include Flex(row, center, start);
            width: 100%;

            .imageContainer {
              @include Flex(row, center, center);
              height: 85px;
              aspect-ratio: 1/1;
              object-fit: cover;
              margin-right: 25px;

              // background-color: lightgrey;
            }

            .details {
              @include Flex(column, start, start);
              width: 100%;

              .title {
                max-width: 105px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: calc(fontSize(p) + 2px);
                font-weight: fontWeight(semibold);
                color: rgba(color(text-color), 0.6);
              }

              .name {
                max-width: 105px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: calc(fontSize(p) + 3px);
                font-weight: fontWeight(bold);
                color: color(text-color);
              }

              .description {
                max-width: 105px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: calc(fontSize(p) - 2px);
                font-weight: fontWeight(semibold);
                color: rgba(color(text-color), 0.6);
              }
            }
          }

          .productDetails {
            @include Flex(row, center, space-between);
            width: 100%;

            .quantity {
              margin-right: 20px;
              width: 100%;
              min-width: 40px;
              @include Flex(row, center, center);

              .text {
                font-weight: bold;
                font-size: calc(fontSize(p) + 5px);
              }
            }

            .cartPrices {
              @include Flex(row, center, start);
              margin: 0;
              .newPrice {
                font-size: calc(fontSize(p) + 7px);
                font-weight: fontWeight(black);
                color: #e30036;
              }
            }

            .removeItem {
              cursor: pointer;
              width: 25px;

              svg {
                fill: color(text-color);
              }
            }
          }
        }
      }
      .total {
        margin-top: 20px;
        width: 100%;
        @include Flex(column, center, center);
        gap: 10px;

        .separator {
          border: none;
          height: 0;
          margin-top: 10px;
          margin-bottom: 20px;
        }

        .priceContainer {
          width: 100%;
          @include Flex(row, center, space-between);

          .text {
            font-weight: fontWeight(bold);
            font-size: calc(fontSize(p) + 5px);
          }

          .price {
            font-weight: fontWeight(regular);
            font-size: calc(fontSize(p) + 5px);
          }
        }

        .statusContainer {
          width: 100%;
          @include Flex(row, center, space-between);

          .text {
            font-weight: fontWeight(bold);
            font-size: calc(fontSize(p) + 5px);
          }

          .status {
            border-radius: 10px;
            padding: 5px 10px;
            border: 2px solid color(text-color);
            font-weight: fontWeight(regular);
            font-size: calc(fontSize(p) + 2px);

            &.inProgress {
              border: 2px solid #fbbc05;
            }

            &.canceled {
              border: 2px solid #e30036;
            }

            &.done {
              border: 2px solid #34a853;
            }
          }
        }
      }
    }
  }

  .logoutContainer {
    width: wrapperWidth(mobile);
    @include Flex(row, center, end);
    margin-top: 70px;

    .details {
      width: 240px;
      .text {
        margin-bottom: 5px;
        font-weight: fontWeight(bold);
        font-size: calc(fontSize(p) + 2px);
      }
      .logoutButton {
        background-color: #e30036 !important;
      }
    }
  }

  .confirmLogout {
    overflow-y: hidden;
    @include Flex(column, center, center);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);

    .details {
      @include Flex(column, center, center);
      width: 320px;
      padding: 30px 20px;
      background-color: color(custom-black);
      border-radius: 10px;

      .text {
        margin-bottom: 5px;
        font-weight: fontWeight(bold);
        font-size: calc(fontSize(p) + 5px);
        margin-bottom: 20px;
        text-align: center;
      }

      .buttons {
        @include Flex(row, center, center);
        gap: 10px;
        width: 100%;

        .confirmButton {
          background-color: #e30036 !important;
        }
      }
    }
  }
}

@media (min-width: 380px) {
  .OrdersShop {
    @include Flex(column, center, center);
    width: 100%;
    margin-bottom: 40px;

    .wrapper {
      @include Flex(column, center, center);
      width: wrapperWidth(mobile);

      .separator {
        margin-top: 10px;
        width: 100%;
        height: 2px;
        background-color: color(text-color);
      }

      .tableData {
        width: 100%;
        margin-top: 30px;
        @include Flex(row, center, space-between);

        .numberData {
          width: 120px;
          color: color(custom-gray);
          font-weight: fontWeight(semibold);
        }
        .dateData {
          width: 80px;
          color: color(custom-gray);
          font-weight: fontWeight(semibold);
        }
        .priceData {
          width: 80px;
          color: color(custom-gray);
          font-weight: fontWeight(semibold);
        }
      }

      .OrderShop {
        @include Flex(column, center, space-between);
        width: 100%;

        .wrapper {
          @include Flex(row, center, space-between);
          padding: 15px 3px;
          // border-top: 2px solid color(text-color);
          border-bottom: 2px solid color(text-color);
          width: 100%;
          .arrowDown {
            width: 30px;

            svg {
              fill: color(text-color);
            }
          }
        }
      }

      .orderDetails {
        width: 92%;

        .orderProducts {
          margin-top: 20px;
          width: 100%;
          @include Flex(column, center, center);
          .orderProduct {
            width: 100%;
            @include Flex(row, center, space-between);
            border-bottom: 2px solid color(text-color);
            padding-bottom: 20px;
            margin-top: 20px;

            .productDescription {
              @include Flex(row, center, start);
              width: 100%;

              .imageContainer {
                @include Flex(row, center, center);
                width: 90px;
                aspect-ratio: 1/1;
                object-fit: cover;
                margin-right: 25px;

                // background-color: lightgrey;
              }

              .details {
                @include Flex(column, start, start);
                width: 100%;

                .title {
                  max-width: 105px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: calc(fontSize(p) + 2px);
                  font-weight: fontWeight(semibold);
                  color: rgba(color(text-color), 0.6);
                }

                .name {
                  max-width: 105px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: calc(fontSize(p) + 3px);
                  font-weight: fontWeight(bold);
                  color: color(text-color);
                }

                .description {
                  max-width: 105px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: calc(fontSize(p) - 2px);
                  font-weight: fontWeight(semibold);
                  color: rgba(color(text-color), 0.6);
                }
              }
            }

            .productDetails {
              @include Flex(row, center, space-between);
              width: 100%;

              .quantity {
                margin-right: 20px;
                width: 100%;
                min-width: 40px;
                @include Flex(row, center, center);

                .text {
                  font-weight: bold;
                  font-size: calc(fontSize(p) + 3px);
                }
              }

              .cartPrices {
                @include Flex(row, center, start);
                margin: 0;
                .newPrice {
                  font-size: calc(fontSize(p) + 7px);
                  font-weight: fontWeight(black);
                  color: #e30036;
                }
              }

              .removeItem {
                cursor: pointer;
                width: 25px;

                svg {
                  fill: color(text-color);
                }
              }
            }
          }
        }
        .total {
          margin-top: 20px;
          width: 100%;
          @include Flex(column, center, center);
          gap: 10px;

          .separator {
            border: none;
            height: 0;
            margin-top: 10px;
            // margin-bottom: 20px;
          }

          .priceContainer {
            width: 100%;
            @include Flex(row, center, space-between);

            .text {
              font-weight: fontWeight(bold);
              font-size: calc(fontSize(p) + 5px);
            }

            .price {
              font-weight: fontWeight(regular);
              font-size: calc(fontSize(p) + 5px);
            }
          }

          .statusContainer {
            width: 100%;
            @include Flex(row, center, space-between);

            .text {
              font-weight: fontWeight(bold);
              font-size: calc(fontSize(p) + 5px);
            }

            .status {
              border-radius: 10px;
              padding: 5px 10px;
              border: 2px solid color(text-color);
              font-weight: fontWeight(regular);
              font-size: calc(fontSize(p) + 2px);

              &.inProgress {
                border: 2px solid #fbbc05;
              }

              &.canceled {
                border: 2px solid #e30036;
              }

              &.done {
                border: 2px solid #34a853;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .OrdersShop {
    @include Flex(column, center, center);
    width: 100%;

    .logoutContainer {
      width: wrapperWidth(mobile);
      @include Flex(row, center, end);
      margin-top: 100px;

      .details {
        width: 240px;
        .text {
          margin-bottom: 5px;
          font-weight: fontWeight(bold);
          font-size: calc(fontSize(p) + 2px);
        }
        .logoutButton {
          background-color: #e30036 !important;
        }
      }
    }

    .confirmLogout {
      overflow-y: hidden;
      @include Flex(column, center, center);
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 9999;
      background-color: rgba(0, 0, 0, 0.8);

      .details {
        @include Flex(column, center, center);
        width: 380px;
        padding: 30px 20px;
        background-color: color(custom-black);
        border-radius: 10px;

        .text {
          margin-bottom: 5px;
          font-weight: fontWeight(bold);
          font-size: calc(fontSize(p) + 10px);
          margin-bottom: 25px;
          text-align: center;
        }

        .buttons {
          @include Flex(row, center, center);
          gap: 10px;
          width: 100%;

          .confirmButton {
            background-color: #e30036 !important;
          }
        }
      }
    }

    .wrapper {
      @include Flex(column, center, center);
      width: wrapperWidth(mobile);

      .separator {
        margin-top: 10px;
        width: 100%;
        height: 2px;
        background-color: color(text-color);
      }

      .tableData {
        width: 100%;
        margin-top: 30px;
        @include Flex(row, center, space-between);

        .numberData {
          width: 120px;
          color: color(custom-gray);
          font-weight: fontWeight(semibold);
        }
        .dateData {
          width: 80px;
          color: color(custom-gray);
          font-weight: fontWeight(semibold);
        }
        .priceData {
          width: 80px;
          color: color(custom-gray);
          font-weight: fontWeight(semibold);
        }
      }

      .OrderShop {
        @include Flex(column, center, space-between);
        width: 100%;

        .wrapper {
          @include Flex(row, center, space-between);
          padding: 15px 3px;
          // border-top: 2px solid color(text-color);
          border-bottom: 2px solid color(text-color);
          width: 100%;
          .arrowDown {
            width: 30px;

            svg {
              fill: color(text-color);
            }
          }
        }
      }

      .orderDetails {
        width: 92%;

        .orderProducts {
          margin-top: 20px;
          width: 100%;
          @include Flex(column, center, center);
          .orderProduct {
            width: 100%;
            @include Flex(row, center, space-between);
            border-bottom: 2px solid color(text-color);
            padding-bottom: 20px;
            margin-top: 20px;

            .productDescription {
              @include Flex(row, center, start);
              width: 100%;

              .imageContainer {
                @include Flex(row, center, center);
                width: 90px;
                aspect-ratio: 1/1;
                object-fit: cover;
                margin-right: 25px;

                // background-color: lightgrey;
              }

              .details {
                @include Flex(column, start, start);
                width: 100%;
                width: 250px;

                .title {
                  max-width: none;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: calc(fontSize(p) + 2px);
                  font-weight: fontWeight(semibold);
                  color: rgba(color(text-color), 0.6);
                }

                .name {
                  max-width: 250px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: calc(fontSize(p) + 3px);
                  font-weight: fontWeight(bold);
                  color: color(text-color);
                }

                .description {
                  max-width: 250px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: calc(fontSize(p) - 2px);
                  font-weight: fontWeight(semibold);
                  color: rgba(color(text-color), 0.6);
                }
              }
            }

            .productDetails {
              @include Flex(row, center, space-between);
              width: 100%;

              .quantity {
                margin-right: 20px;
                width: 100%;
                min-width: 40px;
                @include Flex(row, center, center);

                .text {
                  font-weight: bold;
                  font-size: calc(fontSize(p) + 3px);
                }
              }

              .cartPrices {
                @include Flex(row, center, start);
                margin: 0;
                .newPrice {
                  font-size: calc(fontSize(p) + 7px);
                  font-weight: fontWeight(black);
                  color: #e30036;
                }
              }

              .removeItem {
                cursor: pointer;
                width: 25px;

                svg {
                  fill: color(text-color);
                }
              }
            }
          }
        }
        .total {
          margin-top: 20px;
          width: 100%;
          @include Flex(column, center, center);
          gap: 10px;

          .separator {
            border: none;
            height: 0;
            margin-top: 10px;
            margin-bottom: 20px;
          }

          .priceContainer {
            width: 100%;
            @include Flex(row, center, space-between);

            .text {
              font-weight: fontWeight(bold);
              font-size: calc(fontSize(p) + 5px);
            }

            .price {
              font-weight: fontWeight(regular);
              font-size: calc(fontSize(p) + 5px);
            }
          }

          .statusContainer {
            width: 100%;
            @include Flex(row, center, space-between);

            .text {
              font-weight: fontWeight(bold);
              font-size: calc(fontSize(p) + 5px);
            }

            .status {
              border-radius: 10px;
              padding: 5px 10px;
              border: 2px solid color(text-color);
              font-weight: fontWeight(regular);
              font-size: calc(fontSize(p) + 2px);

              &.inProgress {
                border: 2px solid #fbbc05;
              }

              &.canceled {
                border: 2px solid #e30036;
              }

              &.done {
                border: 2px solid #34a853;
              }
            }
          }
        }
      }
    }
  }
}
