.SocialMedia {
  position: relative;
  @include Flex(column, center, center);
  // overflow: hidden;
  margin-top: 40px;
  width: 100%;
  .wrapper {
    @include Flex(column, start, space-between);
    padding: 20px;
    background-color: color(custom-black);
    width: wrapperWidth(mobile);
    border-radius: calc(borderRadius(mobile) * 1.5);

    .textSection {
      @include Flex(column, start, space-between);
      margin-bottom: 20px;
      font-size: calc(fontSize(p) + 10px);

      .title {
        font-weight: fontWeight(semibold);
      }

      .name {
        @include Flex(column, center, center);
        font-weight: fontWeight(semibold);
        .dot {
          font-size: 40px;
          font-weight: fontWeight(extrabold);
          color: color(secondary-color);
        }
      }
    }

    .link {
      width: 100%;
      text-decoration: none;
      a {
        text-decoration: none;
      }
    }
  }
  .pinkCircle {
    position: absolute;
    margin-bottom: 100px;
    margin-right: -450px;
    width: 30%;
    min-width: 170px;
    max-width: 260px;
    z-index: -1;
  }

  .blueCircle {
    position: absolute;
    margin-bottom: -150px;
    margin-right: 450px;
    width: 30%;
    min-width: 170px;
    max-width: 260px;
    z-index: -1;
  }
}

@media (min-width: 700px) {
  .SocialMedia {
    .wrapper {
      @include Flex(column, start, space-between);
      padding: 28px;
    }
    .pinkCircle {
      position: absolute;
      margin-bottom: 100px;
      margin-right: -650px;
      width: 25%;
      min-width: 170px;
      max-width: 230px;
      z-index: -1;
    }

    .blueCircle {
      position: absolute;
      margin-bottom: -150px;
      margin-right: 650px;
      width: 25%;
      min-width: 170px;
      max-width: 230px;
      z-index: -1;
    }
  }
}

@media (min-width: 850px) {
  .SocialMedia {
    .wrapper {
      @include Flex(column, start, space-between);
      padding: 28px;
    }
    .pinkCircle {
      position: absolute;
      margin-bottom: 100px;
      margin-right: -800px;
      width: 25%;
      min-width: 170px;
      max-width: 230px;
      z-index: -1;
    }

    .blueCircle {
      position: absolute;
      margin-bottom: -150px;
      margin-right: 800px;
      width: 25%;
      min-width: 170px;
      max-width: 230px;
      z-index: -1;
    }
  }
}

@media (min-width: 1200px) {
  .SocialMedia {
    .wrapper {
      @include Flex(column, start, space-between);
      padding: 28px;
    }
    .pinkCircle {
      position: absolute;
      margin-bottom: 50px;
      margin-right: -900px;
      width: 25%;
      min-width: 170px;
      max-width: 230px;
      z-index: -1;
    }

    .blueCircle {
      position: absolute;
      margin-bottom: -50px;
      margin-right: 900px;
      width: 25%;
      min-width: 170px;
      max-width: 230px;
      z-index: -1;
    }
  }
}
