.SocialMedia {
  @include Flex(column, center, center);
  margin-top: 40px;
  width: 100%;
  .wrapper {
    @include Flex(column, start, space-between);
    padding: 20px;
    background-color: color(custom-black);
    width: wrapperWidth(mobile);
    border-radius: calc(borderRadius(mobile) * 1.5);

    .textSection {
      @include Flex(column, start, space-between);
      margin-bottom: 20px;
      font-size: calc(fontSize(p) + 10px);

      .name {
        @include Flex(column, center, center);
        .dot {
          font-size: 40px;
          font-weight: 900;
          color: color(secondary-color);
        }
      }
    }

    .link {
      width: 100%;
    }
  }
}
