.TeamSlider {
  width: 100%;
  .teamMember {
    height: 230px;
    width: 100%;

    .wrapper {
      @include Flex(row, end, space-between);
      position: relative;
      height: 96%;
      width: 96%;
      background-color: color(custom-black);
      border-radius: borderRadius(mobile);

      .textSection {
        @include Flex(column, start, flex-end);

        height: 100%;
        flex: 1.1;
        margin-bottom: 20px;
        margin-left: 10px;
        .name {
          @include pText();
          font-size: calc(fontSize(p) + 6px);
          font-weight: fontWeight(bold);
          color: color(secondary-color);
          margin-bottom: 10px;
        }

        .number,
        .email {
          @include pText();
          font-weight: fontWeight(regular);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 160px;
        }
      }

      .imagesSection {
        @include Flex(column, end, end);
        height: 100%;

        flex: 0.9;
        position: relative;

        .trainerImg {
          height: auto;
        }
      }
    }
  }
}
