.Team {
  width: 100%;
  max-width: 1440px;
  margin-bottom: 50px;

  .sliderSection {
    @include Flex(column, center, center);
    max-width: 1440px;
    margin-top: 30px;
    width: 100vw;
    .wrapper {
      width: wrapperWidth(mobile);
    }
  }
}
