$wrapper-width: 100%;
$max-width: 1440px;
$transition: all 0.3s ease-in-out;
$animation-time: 5s;
$gap: 50px;

$colors: (
  primary-color: #090707,
  secondary-color: #097fd9,
  text-color: #fff,
  custom-green: #8dc53f,
  custom-gray: #8e8e8e
);

$font-weights: (
  thin: 100,
  extralight: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900
);

$font-sizes: (
  name: clamp(38px, 1.5vw, 55px),
  h1: clamp(80px, 2.5vw, 142px),
  h2: clamp(40px, 2.5vw, 56px),
  h3: clamp(30px, 2.5vw, 40px),
  p: clamp(15px, 1.5vw, 18px),
  small: clamp(10px, 1.5vw, 14px),
  link: clamp(14px, 1.5vw, 18px),
  button: clamp(14px, 1.5vw, 18px)
);

$border-radius: (
  mobile: 8px,
  screen: 10px
);

$icon-sizes: (
  mobile: 30px,
  screen: 16px
);

@function color($key) {
  @return map-get($colors, $key);
}

@function fontWeight($key) {
  @return map-get($font-weights, $key);
}

@function borderRadius($key) {
  @return map-get($border-radius, $key);
}

@function fontSize($key) {
  @return map-get($font-sizes, $key);
}

@mixin Flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin button {
  @include Flex(row, center, center);
  width: 100%;
  cursor: pointer;
  border-radius: borderRadius(mobile);
  background-color: color(secondary-color);
  color: color(text-color);
  font-size: fontSize(button);
  font-weight: fontWeight(semibold);
  padding: 10px 15px;
}

@mixin titleText {
  font-size: fontSize(h3);
  font-weight: fontWeight(bold);
}

@mixin nameText {
  font-size: fontSize(name);
  font-weight: fontWeight(thin);
}

@mixin bgText {
  font-size: fontSize($font-sizes, h1);
  font-weight: fontWeight(black);
  opacity: 0.1;
}

@mixin pText {
  font-size: fontSize(p);
  font-weight: fontWeight(regular);
  line-height: 1.5;
}
