@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @include Flex(column, center, center);
  width: 100%;
  scroll-behavior: smooth;
}

body {
  @include Flex(column, center, center);
  color: color(text-color);
  background-color: color(primary-color);
  width: 100%;
  max-width: $max-width;
}

main {
  width: mainWidth(mobile);
  display: grid;
  gap: sectionGap(mobile);
}

p {
  @include pText;
}
