@import "config";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-weight: 100;
}

body {
  background-color: $primary-color;
  color: $text-color;
}