@import "config";
@import "header";
@import "introduction";
@import "responsive";
@import "team";
@import "textLayers";
@import "teamSlider";
@import "gallery";
@import "socialMedia";
@import "prices";
@import "membership";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @include Flex(column, center, center);
  width: 100%;
  scroll-behavior: smooth;

  overflow-x: hidden;

  body {
    @include Flex(column, center, center);
    @include pText();
    width: 100%;
    max-width: $max-width;
    color: color(text-color);
    background-color: color(primary-color);
    main {
      width: 100%;
      display: grid;
      gap: $gap;

      p,
      a,
      span {
        @include pText();
      }

      a {
        text-decoration: none;
        font-size: calc(fontSize(p) - 1px);
      }

      button,
      .button {
        @include button();
      }

      h1 {
        @include nameText();
      }

      h2 {
        @include bgText();
      }

      h3 {
        @include titleText();
      }
    }
  }
}
